<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Adminlogin</display-name>
    <servlet-name>Adminlogin</servlet-name>
    <servlet-class>adminLogin.Adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlogin</servlet-name>
    <url-pattern>/Adminlogin</url-pattern>
  </servlet-mapping>
  <display-name>Online Quiz Portal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Createquiz</display-name>
    <servlet-name>Createquiz</servlet-name>
    <servlet-class>createquiz.Createquiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Createquiz</servlet-name>
    <url-pattern>/Createquiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteTable</display-name>
    <servlet-name>deleteTable</servlet-name>
    <servlet-class>DeleteTable.deleteTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteTable</servlet-name>
    <url-pattern>/deleteTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveQuestion</display-name>
    <servlet-name>SaveQuestion</servlet-name>
    <servlet-class>saveQuestion.SaveQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveQuestion</servlet-name>
    <url-pattern>/SaveQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitQuizServlet</display-name>
    <servlet-name>SubmitQuizServlet</servlet-name>
    <servlet-class>submitQuizServlet.SubmitQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitQuizServlet</servlet-name>
    <url-pattern>/SubmitQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userlogin</display-name>
    <servlet-name>Userlogin</servlet-name>
    <servlet-class>userLogin.Userlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userlogin</servlet-name>
    <url-pattern>/Userlogin</url-pattern>
  </servlet-mapping>
</web-app>